################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MVC_01/.vs/MVC_01
/MVC_01/MVC_01/bin/Debug/netcoreapp3.1
/MVC_01/MVC_01/obj
